a {
    display: inline;
    box-sizing: border-box;
    font-size: 1.05em;
    padding: 0 2px;
    background-color: #d2e7fc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:focus {
    outline: 0;
    padding: 1px 0;
    border: 2px solid #96c8ff;
}

.KNOWN, .IGNORED {
    background-color: white;
}

.STUDIED {
    background-color: #faf63d;
}

.KNOWN:focus {
    border: 2px solid #23f607;
}

.STUDIED:focus {
    border: 2px solid #fadb0f;
}

.IGNORED:focus {
    border: 2px solid #beb4c1;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 200px;
    background-color: #282828;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext {
    font-size: 0.9em;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.toggled .tooltiptext {
    visibility: visible;
}